.articles{
    display: flex;
    flex-direction: column;
    background: #f7f7f7;
    margin: 20px 0;
    &__title{
        color: #2D314D;
        font-weight: 100;
        font-size: 40px;
        line-height: 64px;
        letter-spacing: -0.714286px;
    }

    &__cards{
        margin:30px 0;
    }
    .cards{
        display: flex;
        justify-content: space-between;
        &__item{
            overflow: hidden;
            background-color: #FFFFFF;
            width: 23%;
            border-radius: 5px;
            // padding: 10px;
            &__image{
                width: 100%;
            }
            &__text{
                padding:0 20px;
                padding-bottom: 20px;
                &__author{
                    font-size: 10px;
                    line-height: 18px;
                    /* identical to box height, or 180% */
                    letter-spacing: -0.15625px;
                    color: #9597A5;
                }
                &__link{
                    font-weight: 100;
                    font-size: 16px;
                    line-height: 20px;
                    /* or 125% */
                    text-decoration: none;
                    letter-spacing: -0.285714px;

                    color: #2D314D;

                    &:active{
                        color: #30C88F;
                    }
                }
                &__desc{
                    font-size: 13px;
                    line-height: 18px;
                    /* or 138% */

                    letter-spacing: -0.203125px;

                    color: #9597A5;
                }
            }            
        }
    }
}

@media screen and (max-width: 995px) {
    .articles{
        &__title{ 
        }
    
        &__cards{
        }
        .cards{
            
            flex-wrap: wrap;
            &__item{
                width: 45%;
                margin: 15px 0;
                // padding: 10px;
                &__image{
                }
                &__text{
                    
                    &__author{
                        
                    }
                    &__link{
                        
                    }
                    &__desc{
                        
                    }
                }            
            }
        }
    }
}

@media screen and (max-width: 513px) {
    .articles{
        .cards{
            
            flex-wrap: wrap;
            &__item{
                width: 100%;
                margin: 15px 0;
                // padding: 10px;
                &__image{
                }
                &__text{
                    
                    &__author{
                        
                    }
                    &__link{
                        
                    }
                    &__desc{
                        
                    }
                }            
            }
        }
    }
}