.feedback{
    background-color: #F4F5F7;
    padding-top: 96px;
    padding-bottom: 96px;
    &__title{
        font-weight: 100;
        font-size: 40px;
        line-height: 64px;
        /* identical to box height, or 160% */

        letter-spacing: -0.714286px;

        color: #2D314D;

    }

    &__desc{
        font-size: 18px;
        line-height: 28px;
        /* or 156% */

        letter-spacing: -0.28125px;
        width: 50%;
        color: #9597A5;
    }
    .cards{
        margin-top: 50px;
        @include displayFlexSetter(space-between, center);
        &__item{
            padding: 10px;
            display: flex;
            flex-direction: column;
            &::before{
                content: "";
                width: 72px;
                height: 72px;
                background:url("../img/icon.png") no-repeat;
                background-size: 100% 100%;
            }
            &__title{
                font-weight: 100;
                font-size: 24px;
                line-height: 28px;
                /* identical to box height, or 117% */
    
                letter-spacing: -0.428571px;
    
                color: #2D314D;
            }
            &__desc{
                font-size: 16px;
                line-height: 26px;
                /* or 162% */
    
                letter-spacing: -0.25px;
    
                color: #9597A5;
    
            }
        }
        
    }
}

@media screen and (max-width: 995px){
    .feedback{
        &__title, &__desc{
            text-align: center;
            width: 100%;
        }
        .cards{
            flex-wrap: wrap;
            &__item{
                width: 50%;
                align-items: center;
                &__desc{
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width: 625px){
    .feedback{
        .cards{
            &__item{
                width: 100%;
                
            }
        }
    }
}


